---
import SectionHeader from '../../SectionHeader.astro'
import Card from '../../Card.astro'

export interface Props {
  label: { text: string; color: string }
  heading: string
  color: string
  cards: {
    heading?: string
    text: string
    color: string
    icon: string
    button: { label: string; link: string; color: string }
  }[]
}

const { label, heading, color, text, cards } = Astro.props
---

<section class="mb-6 flex flex-col items-center lg:mb-20">
  <SectionHeader label={label} heading={heading} text={text} color={color} />
  <div class="flex flex-none flex-col gap-6 md:-mt-4 md:flex-row lg:gap-16">
    {cards.map((card) => <Card {...card} amount={cards.length} />)}
  </div>
</section>
