---
import { sectionMarginBottom } from '../../../../utils/classNames'

import Logo from '../../elements/Logo.astro'

export interface Props {
  heading: string
  logos: { name: string; image: string }[]
}

const { heading, logos } = Astro.props
---

<section class={sectionMarginBottom}>
  <div
    class="-mx-[3.5px] mb-6 text-center text-1xl font-bold text-primary-white md:mb-8 md:text-xl md:leading-[30px] lg:mb-10 lg:text-[22px] lg:leading-[28.6px]"
  >
    {heading}
  </div>
  <div
    class="full-width flex flex-wrap justify-center gap-[19px] md:gap-6 lg:flex-nowrap"
  >
    {logos.map((logo) => <Logo {...logo} canShrink />)}
  </div>
</section>
