---
import { sectionMarginBottom } from '../../../../utils/classNames'

import Contact from '../../Contact.astro'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string
  color: string
  platforms: {
    name: string
    icon: string
    link: string
  }[]
}

const { heading, text, color, platforms } = Astro.props
---

<section class={sectionMarginBottom}>
  <div class="mb-20">
    <SectionHeader heading={heading} text={text} color={color} />
  </div>
  <div
    class="flex flex-col items-center justify-center gap-6 md:flex-row md:gap-16"
  >
    {platforms.map((platform) => <Contact {...platform} color={color} />)}
  </div>
</section>
