---
import classNames from 'classnames'
import {
  textColor,
  backgroundGradient,
  sectionMarginBottom,
} from '../../../../utils/classNames'

import Link from '../../elements/Link'

export interface Props {
  heading: string
  text: string
  color: string
  image: string
  button: { label: string; link: string; color: string }
}

const { heading, text, color, image, button } = Astro.props
---

<div
  class={classNames(
    'flex flex-col px-12 pt-6 lg:pt-12 pb-12 md:flex-row-reverse md:items-center md:justify-between md:px-8 rounded-2xl lg:pr-12 lg:pl-30',
    backgroundGradient[color],
    sectionMarginBottom
  )}
>
  <div class="mb-6 w-full md:mb-0">
    <img src={image} />
  </div>
  <div class="mr-0 md:mr-18">
    <div
      class="mb-3 text-center text-1xl font-bold text-primary-white md:text-left lg:text-3.5xl"
    >
      {heading}
    </div>
    <div
      class={classNames(
        'text-tertiary-black leading-[22.4px] text-center md:text-left mb-6',
        textColor[color]
      )}
    >
      {text}
    </div>
    <div class="text-center md:text-left">
      <Link {...button} />
    </div>
  </div>
</div>
