---
import SectionHeader from '../../SectionHeader.astro'
import Card from '../../Card.astro'

export interface Props {
  label: { text: string; color: string }
  heading: string
  text: string
  color: string
  cards: {
    heading: string
    text: string
    color: string
    icon: string
    button: { label: string; link: string; color: string }
  }[]
}

const { label, heading, text, color, cards } = Astro.props
---

<section class="mb-25 md:mb-30">
  <div class="mb-20">
    <SectionHeader label={label} heading={heading} text={text} color={color} />
  </div>
  <div
    class="mb-6 flex flex-none flex-col gap-6 md:flex-row lg:mb-15 lg:gap-16"
  >
    {
      cards
        .slice(0, 2)
        .map((card) => <Card {...card} amount={cards.slice(0, 2).length} />)
    }
  </div>
  <div class="flex flex-none flex-col gap-6 md:flex-row lg:gap-16">
    {
      cards
        .slice(2, 4)
        .map((card) => <Card {...card} amount={cards.slice(2, 4).length} />)
    }
  </div>
</section>
