---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  color?: string
  text: string[]
  image: string
  button: {
    label: string
    link: string
  }
}

const { heading, color, text, image, button } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-white'
---

<section
  class={classNames(
    'flex flex-col-reverse items-center md:flex-row',
    sectionMarginBottom
  )}
>
  <div class="mr-0 mb-8 w-full md:mr-10 md:w-1/2 lg:mr-[90px]">
    <div
      class={classNames(
        'mb-4 text-4xl font-semibold md:text-5xl lg:text-5.5xl tracking-[-1.5px] md:leading-[52.8px]',
        headingColor
      )}
    >
      {heading}
    </div>
    {
      text.map((paragraph) => (
        <div class="text-tertiary-black mb-4 text-xl leading-[30px]">
          <MarkdownText text={paragraph} />
        </div>
      ))
    }
    <div class="md:pt-4 lg:pt-12">
      <Button {...button} />
    </div>
  </div>
  <img
    class="mb-10 mr-6 md:mb-8 md:mr-0 md:h-80 md:w-80 lg:mr-6 lg:h-auto lg:w-auto"
    src={image}
    alt={heading}
  />
</section>
