---
import Button from '../../elements/Button.astro'
import Footnotes from '../../elements/Footnotes.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: { left: string; center: string; right: string }[]
  text: string
  button: { label: string; link: string }
  footnotes: string[]
}

const { heading, text, button, footnotes } = Astro.props
---

<section
  class="mb-16 flex flex-col items-center pt-[133px] md:mb-20 md:pt-36 lg:mb-[118px] lg:pt-[209px]"
>
  <div
    class="mx-auto mb-6 grid grid-cols-3 text-4.5xl font-semibold md:max-w-[400px] md:gap-2 md:text-5.5xl md:leading-[61.6px] lg:gap-[10px] lg:text-7xl"
  >
    {
      heading.map((line) => (
        <>
          <div class="flex justify-end md:tracking-[-1.5px] lg:tracking-[1px]">
            <div class="text-secondary-black">{line.left}</div>
            <div class="text-white ">{line.center}</div>
          </div>
          <div class="col-span-2 text-white md:tracking-[-1.5px] lg:tracking-wider">
            {line.right}
          </div>
        </>
      ))
    }
  </div>
  <div
    class="mb-14 max-w-3.5xl text-center text-tertiary-black md:text-[22px] md:leading-[33px] lg:max-w-[815px] lg:text-1xl"
  >
    <MarkdownText text={text} />
  </div>

  <Button {...button} />

  <Footnotes footnotes={footnotes} />
</section>
