---
import Card from '../../Card.astro'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  label: { text: string; color: string }
  heading: string
  text: string
  color: string
  cards: {
    heading: string
    text: string
    color: string
    icon: string
    button: { label: string; link: string; color: string }
  }[]
}

const { label, heading, text, color, cards } = Astro.props
---

<section class="mb-20 flex flex-col items-center md:mb-50 lg:mb-30">
  <div class="tracking-[-1.5px] md:mb-0 lg:mb-4">
    <SectionHeader label={label} heading={heading} text={text} color={color} />
  </div>
  <div class="flex flex-none flex-col gap-6 md:flex-row lg:gap-16">
    {cards.map((card) => <Card {...card} amount={cards.length} />)}
  </div>
</section>
