---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  button: {
    label: string
    link: string
  }
  image: string
}

const { heading, text, color, button, image } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-secondary-gray'
---

<section
  class={classNames(
    'border-2 border-solid border-white border-opacity-[0.08] bg-blue-rgba pt-[117px] pb-[136px] pl-[114px] pr-[126px]',
    sectionMarginBottom
  )}
>
  <div class="flex">
    <div>
      <img src={image} alt={heading} width="347" />
    </div>
    <div class="flex flex-col">
      <div class={classNames('mb-4 text-5.5xl font-semibold', headingColor)}>
        {heading}
      </div>
      <div
        class={classNames(
          'mb-12 text-xl',
          color ? textColor[color] : 'text-tertiary-black'
        )}
      >
        <MarkdownText text={text} />
      </div>
      <Button {...button} />
    </div>
  </div>
</section>
