---
import { sectionMarginBottom } from '../../../../utils/classNames'

import SectionHeader from '../../SectionHeader.astro'
import CardSmall from '../../CardSmall.astro'

export interface Props {
  heading: string
  text: string
  color: string
  cards: {
    heading: string
    icon: string
    link: string
  }[]
}

const { heading, text, color, cards } = Astro.props
---

<section class={sectionMarginBottom}>
  <SectionHeader heading={heading} text={text} color={color} />
  <div class="flex flex-col gap-6 md:grid md:grid-cols-2 md:gap-10 lg:gap-16">
    {cards.map((card) => <CardSmall {...card} color={color} />)}
  </div>
</section>
