---
import classNames from 'classnames'
import {
  textColor,
  backgroundGradient,
  sectionMarginBottom,
} from '../../../../utils/classNames'

import { MarkdownText } from '../../MarkdownText'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  color: string
  cards: { heading: string; text: string; icon: string }[]
}

const { heading, cards, color } = Astro.props
---

<SectionHeader heading={heading} color={color} />
<section
  class={classNames(
    'flex flex-col gap-6 md:grid md:grid-cols-2 md:gap-10 lg:gap-16',
    sectionMarginBottom
  )}
>
  {
    cards.map((card) => (
      <div
        class={classNames(
          'max-w-lg rounded-2xl border border-solid p-12',
          backgroundGradient[color]
        )}
      >
        <div class="mb-10.5 mx-auto h-20 w-20 md:mx-0 lg:mb-8">
          <img src={card.icon} />
        </div>
        <div class="md:text-1xl lg:text-3.5xl mb-3 text-center text-xl font-bold text-white md:text-left">
          {card.heading}
        </div>
        <div
          class={classNames(
            'text-center text-base md:text-left lg:text-xl',
            textColor[color]
          )}
        >
          <MarkdownText text={card.text} />
        </div>
      </div>
    ))
  }
</section>
