---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  color: string
  text: string | string[]
  image: string
}

const { heading, color, text, image } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-secondary-gray'
---

<section
  class={classNames(
    'flex flex-col-reverse items-center md:flex-row',
    sectionMarginBottom
  )}
>
  <div class="md:mr-10 md:w-1/2">
    <div
      class={classNames(
        'mb-4 md:text-5xl font-semibold text-4xl lg:text-5.5xl',
        headingColor
      )}
    >
      {heading}
    </div>
    <div class="mb-8">
      {
        typeof text === 'string' ? (
          <div class={classNames('text-base md:text-xl', textColor[color])}>
            <MarkdownText text={text} />
          </div>
        ) : (
          text.map((paragraph) => (
            <div class={classNames('mb-4 text-xl', textColor[color])}>
              <MarkdownText text={paragraph} />
            </div>
          ))
        )
      }
    </div>
  </div>
  <div class="mb-10 md:mb-0">
    <img src={image} alt={heading} />
  </div>
</section>
