---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import { MarkdownText } from '../../MarkdownText'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  color: string
  features: { heading: string; text: string; icon: string }[]
}

const { heading, color, features } = Astro.props
---

<section class={sectionMarginBottom}>
  <SectionHeader heading={heading} color={color} alignment="left" />
  <div class="grid grid-cols-2 gap-0 md:gap-10 lg:gap-16">
    {
      features.map((feature) => (
        <div class="lg:mb-13 mb-12 flex flex-col p-2 md:flex-row">
          <div class="mb-8 mr-0 mt-0 h-[50px] w-[50px] md:mb-0 md:mr-8 md:mt-[17px] lg:mt-7 lg:h-20 lg:w-20">
            <img
              src={feature.icon}
              class="lg:min-h-20 lg:min-w-20 min-h-[50px] min-w-[50px] md:min-h-[50px] md:min-w-[50px]"
            />
          </div>
          <div>
            <div
              class={classNames(
                'lg:text-3.5xl md:text-1xl mb-4 text-xl font-bold',
                `text-gradient-${color}`
              )}
            >
              {feature.heading}
            </div>
            <div class={textColor[color]}>
              <MarkdownText text={feature.text} />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
