---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  color?: string
  text: string[]
  buttons: { label: string; link: string }[]
}

const { heading, color, text, buttons } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-primary-white'
---

<section
  class={classNames(
    'flex flex-col items-center justify-between pt-[133px]',
    sectionMarginBottom
  )}
>
  <h1
    class={classNames(
      'max-w-200 pb-6 lg:text-7xl font-semibold md:text-5.5xl text-4.5xl text-center',
      headingColor
    )}
  >
    {heading}
  </h1>
  <div class="mb-12">
    {
      text.map((paragraph) => (
        <div
          class={classNames(
            'max-w-200 md:text-1xl text-tertiary-black mb-6 text-center text-xl',
            textColor[color]
          )}
        >
          <MarkdownText text={paragraph} />
        </div>
      ))
    }
  </div>
  <div class="flex flex-col md:flex-row md:gap-6">
    {buttons.map((button) => <Button {...button} />)}
  </div>
</section>
