---
import { sectionMarginBottom } from '../../../../utils/classNames'

import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string | string[]
  color: string
  image: string
}

const { heading, text, color, image } = Astro.props
---

<section class={sectionMarginBottom}>
  <SectionHeader heading={heading} text={text} color={color} />
  <img src={image} />
</section>
