---
import classNames from 'classnames'

import Layout from '../layouts/Layout.astro'
import Button from '../components/elements/Button.astro'

import { data } from '../../data/404'

const headingColor = data.color
  ? `text-gradient-${data.color}`
  : 'text-primary-white'
---

<Layout {...data.meta}>
  <div
    class="container mx-auto mb-40 flex flex-col items-center justify-center pt-[133px] md:mb-[216px] lg:mb-[247px] lg:max-w-3.5xl"
  >
    <h1
      class={classNames(
        'text-center text-4.5xl font-semibold md:text-5.5xl lg:text-7xl mb-6 md:mb-8 lg:mb-12',
        headingColor
      )}
    >
      {data.heading}
    </h1>
    <Button {...data.button} />
  </div>
</Layout>
