---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/airnodes/Hero.astro'
import Solution from '../components/sections/airnodes/Solution.astro'
import Features from '../components/sections/airnodes/Features.astro'
import CTA from '../components/CTA.astro'
import Resources from '../components/Resources.astro'

import { data } from '../../data/airnode'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Solution {...data.solution} />
    <Features {...data.features} />
    <CTA {...data.CTA} hasSmallHeading />
    <Resources {...data.resources} />
  </main>
</Layout>
