---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Partners from '../components/Partners.astro'
import CTA from '../components/sections/api3-alliance/CTA.astro'
import SectionHeader from '../components/SectionHeader.astro'

import { data } from '../../data/api3-alliance'
import FAQ from '../components/sections/api3-alliance/FAQ'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Partners {...data.members} />
    <CTA {...data.CTA} />
    <FAQ {...data.FAQ} client:load>
      <SectionHeader
        heading={data.FAQ.heading}
        color={data.FAQ.color}
        slot="header"
      />
    </FAQ>
  </main>
</Layout>
