---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../utils/classNames'

import Layout from '../layouts/Layout.astro'
import Contact from '../components/Contact.astro'

import { data } from '../../data/contact'

const headingColor = data.hero.color
  ? `text-gradient-${data.hero.color}`
  : 'text-primary-white'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <h1
      class={classNames(
        'lg:mb-30 pt-[133px] text-center lg:text-7xl font-semibold text-4.5xl md:text-5.5xl mb-16 md:mb-20',
        headingColor
      )}
    >
      {data.hero.heading}
    </h1>
    <section class={sectionMarginBottom}>
      <div class="mb-16 flex flex-col gap-6 md:flex-row md:gap-10 lg:gap-16">
        {
          data.platforms.cards
            .slice(0, 2)
            .map((platform) => (
              <Contact {...platform} color={data.platforms.color} />
            ))
        }
      </div>
      <div class="flex flex-col gap-16 md:flex-row">
        {
          data.platforms.cards
            .slice(2, 4)
            .map((platform) => (
              <Contact {...platform} color={data.platforms.color} />
            ))
        }
      </div>
    </section>
  </main>
</Layout>
