---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/dao/Hero.astro'
import Features from '../components/sections/dao/Features.astro'
import Coverage from '../components/sections/dao/Coverage.astro'
import Socials from '../components/sections/dao/Socials.astro'
import CTA from '../components/CTA.astro'

import { data } from '../../data/dao'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Features features={data.cards} />
    <Coverage {...data.coverage} />
    <Socials {...data.socials} />
    <CTA {...data.CTA} />
  </main>
</Layout>
