---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/data-feeds/Hero.astro'
import Features from '../components/sections/data-feeds/Features.astro'
import Integration from '../components/sections/data-feeds/Integration.astro'
import Oracle from '../components/sections/data-feeds/Oracle.astro'
import CTA from '../components/CTA.astro'
import Resources from '../components/Resources.astro'

import { data } from '../../data/data-feeds'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Features {...data.features} color={data.features.color} />
    <Integration {...data.integration} />
    <Oracle {...data.oracle} />
    <CTA {...data.CTA} />
    <Resources {...data.resources} />
  </main>
</Layout>
