---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/homepage/Hero.astro'
import Availability from '../components/sections/homepage/Availability.astro'
import Difference from '../components/sections/homepage/Difference.astro'
import Services from '../components/sections/homepage/Services.astro'
import OEV from '../components/sections/homepage/OEV.astro'
import Partners from '../components/Partners.astro'
import Applications from '../components/sections/homepage/Applications.astro'
import DAO from '../components/sections/homepage/DAO.astro'
import Channels from '../components/sections/homepage/Channels.astro'
import Resources from '../components/Resources.astro'
import CTA from '../components/sections/homepage/CTA.astro'

import { data } from '../../data/index'
---

<Layout {...data.meta} background="bg-homepage">
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Availability {...data.availability} />
    <Difference {...data.difference} />
    <Services {...data.services} />
    <OEV {...data.OEV} />
    <Partners {...data.partners} />
    <Applications {...data.applications} />
    <CTA {...data.CTA} />
    <DAO {...data.DAO} />
    <Channels {...data.channels} />
    <Resources {...data.resources} />
  </main>
</Layout>
