---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Project from '../components/sections/open-bank-project/Project.astro'
import Features from '../components/sections/open-bank-project/Features.astro'
import Partners from '../components/Partners.astro'

import { data } from '../../data/open-bank-project'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <Project {...data.project} />
    <Features features={data.features} />
    <Partners {...data.partners} />
  </main>
</Layout>
