---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'

import { data } from '../../data/open-positions'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} linkClassName="text-primary-emerald" />
  </main>
</Layout>
