---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import Card from '../components/Card.astro'
import CTA from '../components/CTA.astro'

import { data } from '../../data/participate'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <div class="mb-75 flex flex-wrap justify-center gap-16">
      {
        data.cards.slice(0, 2).map((card) => (
          <div>
            <Card {...card} icon={card.image} />
          </div>
        ))
      }
    </div>
    <div class="mb-75 flex flex-wrap justify-center gap-16">
      {
        data.cards.slice(2, 4).map((card) => (
          <div>
            <Card {...card} icon={card.image} />
          </div>
        ))
      }
    </div>
    <CTA {...data.CTA} />
  </main>
</Layout>
