---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import RandomNumbers from '../components/sections/qrng/RandomNumbers.astro'
import Mechanics from '../components/sections/qrng/Mechanics.astro'
import Hosting from '../components/sections/qrng/Hosting.astro'
import Embed from '../components/sections/qrng/Embed'
import CTA from '../components/CTA.astro'

import { data } from '../../data/qrng'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <Hero {...data.hero} />
    <RandomNumbers {...data.ANU} />
    <Mechanics {...data.mechanics} />
    <Hosting {...data.hosting} />
    <Embed {...data.embed} client:load />
    <CTA {...data.CTA} className="text-primary-emerald" />
  </main>
</Layout>
