---
import classNames from 'classnames'

import Layout from '../layouts/Layout.astro'
import Docs from '../components/sections/resources/Docs.astro'
import Articles from '../components/sections/resources/Articles.astro'
import Whitepapers from '../components/sections/resources/Whitepapers.astro'

import { data } from '../../data/resources'

const headingColor = data.hero.color
  ? `text-gradient-${data.hero.color}`
  : 'text-primary-white'
---

<Layout {...data.meta}>
  <main class="container mx-auto">
    <h1
      class={classNames(
        'mb-75 pb-6 pt-[133px] text-center text-7xl font-semibold',
        headingColor
      )}
    >
      {data.hero.heading}
    </h1>
    <Docs {...data.docs} />
    <Articles {...data.articles} />
    <Whitepapers {...data.whitepapers} />
  </main>
</Layout>
