---
import classNames from 'classnames'
import { textColor } from '../../utils/classNames'

import Layout from '../layouts/Layout.astro'
import { MarkdownText } from '../components/MarkdownText'

import { data } from '../../data/security-and-privacy'

const headingColor = `text-gradient-${data.color}`
const paragraphColor = `text-[#F2FCFA]`
---

<Layout {...data.meta}>
  <div class="container mx-auto mb-40 pt-[133px] md:mb-[216px] lg:mb-[247px]">
    <div class="flex flex-col items-center justify-center">
      <h1
        class={classNames(
          'text-center text-4.5xl font-semibold md:text-5.5xl lg:text-7xl mb-6 w-fit',
          headingColor
        )}
      >
        {data.hero.heading}
      </h1>
      <div
        class={classNames(
          'text-xl md:text-1xl mb-20 md:mb-30',
          textColor[data.color]
        )}
      >
        {data.hero.text}
      </div>
    </div>
    {
      data.content.map((section) => (
        <div class="mb-12 md:mb-16 lg:mb-20">
          <div
            class={classNames(
              'text-1xl md:text-3.5xl mb-2 w-fit pb-4 font-bold lg:text-5xl lg:font-semibold',
              headingColor
            )}
          >
            {section.heading}
          </div>
          {section.text.map((paragraph) => {
            if (typeof paragraph === 'string') {
              return (
                <div
                  class={classNames('mb-8 text-lg md:text-xl', paragraphColor)}
                >
                  <MarkdownText
                    text={paragraph}
                    linkClassName="text-primary-emerald"
                  />
                </div>
              )
            } else {
              return (
                <ul class="mb-8">
                  {paragraph.list.map((listItem) => (
                    <li
                      class={classNames(
                        'mb-4 ml-6 list-disc text-lg md:text-xl',
                        paragraphColor
                      )}
                    >
                      {listItem}
                    </li>
                  ))}
                </ul>
              )
            }
          })}
        </div>
      ))
    }
  </div>
</Layout>
