---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/sections/web3-apis/Hero.astro'
import PoweredBy from '../components/sections/web3-apis/PoweredBy.astro'
import FeaturedAPIs from '../components/sections/web3-apis/FeaturedAPIs'
import AllAPIs from '../components/sections/web3-apis/AllAPIs'
import SectionHeader from '../components/SectionHeader.astro'
import Button from '../components/elements/Button.astro'

import { data } from '../../data/web3-apis'
---

<Layout {...data.meta} background="bg-web3APIs">
  <main class="container mx-auto">
    <Hero {...data.hero} apis={data.apis} />
    <PoweredBy {...data.poweredBy} />
    <FeaturedAPIs {...data.featuredAPIs} featured={data.apis} client:load>
      <SectionHeader
        heading={data.featuredAPIs.heading}
        color={data.featuredAPIs.color}
        alignment="left"
        hasSmallMargin
        slot="header"
      />
    </FeaturedAPIs>
    <AllAPIs
      {...data.allAPIs}
      apis={data.apis}
      allTags={data.allTags}
      client:load
    >
      <Button
        label={data.allAPIs.button.label}
        link={data.allAPIs.button.link}
        isSecondary
        slot="showMoreButton"
      />
    </AllAPIs>
  </main>
</Layout>
