---
import { sectionMarginBottom } from '../../../../utils/classNames'

import Link from '../../elements/Link'
import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  features: {
    heading: string
    text: string
    list: string[]
    image: string
    button: {
      label: string
      link: string
      color?: string
    }
  }[]
}

const { features } = Astro.props
---

<section class={sectionMarginBottom}>
  <div class="flex flex-col gap-20">
    {
      features.map((feature, index) => (
        <div class="bg-blue-rgba flex gap-12 rounded-2xl border-2 border-solid border-white border-opacity-[0.08] p-12">
          {index % 2 === 1 && (
            <div class="w-1/2">
              <img src={feature.image} alt={feature.heading} />
            </div>
          )}
          <div class="flex w-1/2 flex-col">
            <div class="text-3.5xl text-primary-white mb-4 font-bold">
              {feature.heading}
            </div>
            <div class="text-tertiary-black mb-3">
              <MarkdownText text={feature.text} />
            </div>
            <ul class="text-tertiary-black mb-8 list-disc">
              {feature.list.map((listItem) => (
                <li class="mb-4 ml-6">
                  <MarkdownText text={listItem} />
                </li>
              ))}
            </ul>
            {feature.button.color ? (
              <Link {...feature.button} />
            ) : (
              <Button {...feature.button} />
            )}
          </div>
          {index % 2 === 0 && <img src={feature.image} alt={feature.heading} />}
        </div>
      ))
    }
  </div>
</section>
