---
import { sectionMarginBottom } from '../../../../utils/classNames'

import Link from '../../elements/Link'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string | string[]
  color: string
  button: { label: string; link: string; color: string }
  image: string
}

const { heading, text, color, button, image } = Astro.props
---

<section class={sectionMarginBottom}>
  <div class="flex flex-col items-center">
    <SectionHeader heading={heading} text={text} color={color} />
    <Link {...button} />
    <img src={image} alt={heading} class="mt-20" />
  </div>
</section>
