---
import classNames from 'classnames'
import { textColor, backgroundGradient } from '../../utils/classNames'

import { MarkdownText } from './MarkdownText'
import Link from './elements/Link'

export interface Props {
  heading?: string
  text: string
  color: string
  icon: string
  button: { label: string; link: string; color: string }
  amount?: number
  className?: string
  linkClassName?: string
}

const { heading, text, color, icon, button, amount, className, linkClassName } =
  Astro.props
---

<div
  class={classNames(
    backgroundGradient[color],
    'flex w-full flex-col items-center rounded-2xl bg-transparent md:px-5 py-12 px-5 lg:px-8',
    `md:w-1/${amount}`,
  )}
>
  <div
    class="flex h-20 w-20 items-center justify-center mb-8 lg:mb-10 lg:pt-2"
  >
    <img src={icon} alt={heading} />
  </div>
  <div class="mt-auto flex h-full flex-col items-center">
    {
      heading && (
        <div class="mb-3 text-[20px] leading-[30px] text-primary-white lg:text-3.5xl text-center font-bold md:mb-2 md:text-[22px] md:leading-[28.6px] lg:mb-[11px]">
          {heading}
        </div>
      )
    }
    <div
      class={classNames('mb-5 md:mb-5 text-center leading-[22.4px]', textColor[color])}
    >
      <MarkdownText
        text={text}
        className={className}
        linkClassName={linkClassName}
      />
    </div>
    <div class="md:mt-auto">
      <Link {...button} client:only/>
    </div>
  </div>
</div>
