---
import classNames from 'classnames'
import { backgroundGradient } from '../../utils/classNames'

export interface Props {
  heading: string
  icon: string
  link: string
  color?: string
  isExternal?: boolean
}

const { heading, icon, link, color, isExternal = false } = Astro.props
---

<a
  class={classNames(
    backgroundGradient[color],
    'flex flex-col items-center gap-6 rounded-2xl border border-solid px-6 pt-13 pb-10'
  )}
  href={link}
  target={isExternal && '_blank'}
>
  <div class="mb-4.5 h-20 w-20 lg:mb-3">
    <img src={icon} />
  </div>
  <div
    class="text-center text-xl font-bold text-primary-white md:text-1xl lg:text-1xl lg:leading-[28.6px]"
  >
    {heading}
  </div>
</a>
