---
import classNames from 'classnames'
import { backgroundGradient } from '../../utils/classNames'

export interface Props {
  name: string
  text?: string
  icon: string
  link?: string
  email?: string
  color: string
}

const { name, text, icon, link, email, color } = Astro.props
---

<div
  class={classNames(
    'flex flex-col items-center rounded-2xl md:w-1/2 px-8 pt-8 pb-12',
    backgroundGradient[color]
  )}
>
  <a href={link} class="mt-2 flex flex-col items-center">
    <img class="mb-8" src={icon} alt={name} />
    <div
      class={classNames(
        'text-center lg:text-3.5xl font-bold text-primary-white text-xl md:text-1xl',
        text && 'mb-3'
      )}
    >
      {name}
    </div>
  </a>
  {text && <div class="text-tertiary-black mb-6 text-center">{text}</div>}
  {
    email && (
      <a
        href={`mailto:${email}`}
        class="text-secondary-blue30 text-center font-medium"
      >
        {email}
      </a>
    )
  }
</div>
