---
import classNames from 'classnames'
import { backgroundGradient } from '../../utils/classNames'

import Button from '../components/elements/Button.astro'
import SectionHeader from './SectionHeader.astro'

export interface Props {
  heading: string
  text: string
  color?: string
  button?: { label: string; link: string }
  className?: string
  hasSmallHeading?: boolean
}

const {
  heading,
  text,
  color,
  button,
  className,
  hasSmallHeading = false,
} = Astro.props
---

<div class="full-width relative">
  <div
    class={classNames(
      'container mx-auto mb-30 flex flex-col items-center rounded-2xl border border-solid px-8 py-20 md:mb-48 md:px-[54px] md:py-30 lg:mb-75 lg:px-30 bg-transparent',
      backgroundGradient[color]
    )}
  >
    <SectionHeader
      heading={heading}
      text={text}
      color={color}
      className={className}
      isCTA
      hasSmallHeading={hasSmallHeading}
    />
    {button && <Button {...button} />}
  </div>
</div>
