---
import { data } from '../../data/footer'

const { logo, cols, row, socials } = data

const currentYear = new Date().getFullYear()
const copyright = `© ${currentYear} API3 Foundation`
---

<footer class="flex w-full flex-col py-16 lg:py-[130px]">
  <div class="container mx-[29px] flex flex-col md:mx-auto md:flex-row">
    <div class="mb-10 w-[95px] shrink-0 md:mr-20 lg:mr-[62px] lg:w-[82px]">
      <img src={logo} alt="API3" />
    </div>
    <div class="flex flex-col">
      <div
        class="mt-2 grid grid-cols-2 gap-y-10 text-sm leading-5.5 md:mt-1 md:grid-cols-3 md:gap-[25px] md:gap-y-10 lg:mt-0 lg:grid-cols-5 lg:gap-16"
      >
        {
          cols.map((col) => (
            <div class="flex min-w-max flex-col gap-6">
              <p class="font-medium uppercase text-white opacity-50">
                {col.heading}
              </p>
              {col.items.map((item) => (
                <a
                  class="leading-[19.6px] text-white"
                  href={item.link}
                  target={item.isExternal && '_blank'}
                >
                  {item.title}
                </a>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>

  <div class="container mx-auto">
    <div class="my-12 box-border w-full border-t border-t-[#3A3D47]"></div>

    <div
      class="flex flex-col gap-12 md:h-auto md:items-center lg:h-5 lg:flex-row lg:justify-between"
    >
      <p
        class="order-3 text-center text-sm leading-[19.6px] text-[#81838C] lg:order-1"
      >
        {copyright}
      </p>

      <div
        class="order-1 flex flex-col gap-6 text-white md:flex-row lg:order-2"
      >
        {
          row.map((item) => (
            <a
              class="text-center text-sm leading-[19.6px] md:text-left"
              href={item.link}
              target={item.isExternal && '_blank'}
            >
              {item.title}
            </a>
          ))
        }
      </div>

      <div class="order-2 mx-[14px] flex flex-row gap-6 md:mx-0 lg:order-3">
        {
          socials.map((social) => (
            <a href={social.link} target="_blank">
              <img src={social.icon} alt="icon" class="h-6 w-6" />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</footer>
