---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../utils/classNames'

import Button from './elements/Button.astro'
import { MarkdownText } from './MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  className?: string
  linkClassName?: string
  button: { label: string; link: string }
  image?: string
}

const { heading, text, className, linkClassName, button, color, image } =
  Astro.props

const headingColor =
  color && color !== 'white' ? `text-gradient-${color}` : 'text-primary-white'
---

<section
  class={classNames(
    'pt-[133px]',
    image ? 'mb-30 md:mb-48 lg:mb-[168px]' : sectionMarginBottom
  )}
>
  <div class="flex flex-col items-center text-center">
    <h1
      class={classNames(
        'max-w-3.5xl pb-6 lg:text-7xl font-semibold text-4.5xl',
        headingColor
      )}
    >
      {heading}
    </h1>
    <div
      class={classNames(
        'max-w-3.5xl lg:pb-12 lg:text-1xl text-xl pb-10',
        textColor[color]
      )}
    >
      <MarkdownText
        text={text}
        className={className}
        linkClassName={linkClassName}
      />
    </div>
    <Button {...button} />
    {image && <img src={image} class="mt-20 lg:mt-16" />}
  </div>
</section>
