---
import Logo from './elements/Logo.astro'
import SectionHeader from './SectionHeader.astro'

export interface Props {
  heading: string
  text?: string
  color: string
  logos: { name: string; image: string }[]
}

const { heading, text, color, logos } = Astro.props

---

<section class="mb-30 md:mb-48 lg:mb-[298px]">

  <SectionHeader heading={heading} text={text} color={color} />
  <div
    id="logo-slider-1"
    class="full-width -mt-4 mb-4 flex justify-center gap-6 overflow-x-scroll md:-mx-11 md:mb-8 lg:-mx-[286px] lg:mb-10 no-scrollbar"
  >
    {logos.map((logo) => <Logo {...logo} classes="lg:!h-[104px] lg:!w-[224px] md:!h-[82px] md:!w-[176.62px]" />)}
  </div>
  <div
    id="logo-slider-2"
    class="full-width rtl:flex flex justify-center gap-6 overflow-x-scroll md:-mx-11 lg:-mx-[286px] no-scrollbar"
  >
    {logos.map((logo) => <Logo {...logo} classes="lg:!h-[104px] lg:!w-[224px] md:!h-[82px] md:!w-[176.62px]"/>)}
  </div>
</section>

<script is:inline>
  const logoScroller2 = document.getElementById("logo-slider-2")
  logoScroller2.scrollLeft += 114
</script> 
