---
import SectionHeader from './SectionHeader.astro'
import CardSmall from './CardSmall.astro'

export interface Props {
  heading: string
  color?: string
  cards: { heading: string; icon: string; link: string }[]
}

const { heading, color, cards } = Astro.props
const cardsNumber = cards.length
const columnsNumber = cardsNumber > 3 ? 2 : 3

const cardsWrapperClass = `mb-40 grid grid-cols-1 gap-6 md:mb-46 md:grid-cols-${columnsNumber} lg:mb-75 ${
  cardsNumber === 4
    ? 'lg:grid-cols-4'
    : cardsNumber === 3
    ? 'lg:grid-cols-3'
    : cardsNumber === 2
    ? 'lg:grid-cols-3'
    : `lg:grid-cols-${cardsNumber}`
} lg:gap-8`
---

<SectionHeader heading={heading} color={color} />

<div class={cardsWrapperClass}>
  {cards.map((card) => <CardSmall {...card} color={color} />)}
</div>
