---
import classNames from 'classnames'
import { textColor } from '../../utils/classNames'

import Label from './elements/Label.astro'
import { MarkdownText } from './MarkdownText'

export interface Props {
  label?: { text: string; color: string }
  heading: string
  text?: string | string[]
  className?: string
  linkClassName?: string
  color?: string
  alignment?: 'left' | 'center'
  hasSmallMargin?: boolean
  isCTA?: boolean
  hasSmallHeading?: boolean
}

const {
  label,
  heading,
  text,
  hasSmallMargin = false,
  className,
  linkClassName,
  color,
  alignment = 'center',
  isCTA = false,
  hasSmallHeading = false,
} = Astro.props

const headingColor = color === 'white' ? 'text-white' : `text-gradient-${color}`
---

<div
  class={classNames(
    'flex flex-col items-center',
    hasSmallMargin === true ? 'mb-4' : 'lg:mb-16 mb-16'
  )}
>
  {label && <Label {...label} />}
  <div
    class={classNames(
      `mb-3 max-w-200 text-${alignment} font-semibold md:leading-[52.8px] md:text-5xl tracking-[-1.5px] lg:text-5.5xl pb-1`,
      isCTA && hasSmallHeading ? 'text-1xl' : 'text-4xl',
      headingColor
    )}
  >
    {heading}
  </div>
  {
    text && typeof text === 'string' ? (
      text && (
        <div
          class={classNames(
            `max-w-200 text-${alignment} text-base font-normal md:text-xl md:leading-[30px]`,
            textColor[color]
          )}
        >
          <MarkdownText
            text={text}
            className={className}
            linkClassName={linkClassName}
          />
        </div>
      )
    ) : (
      <div class={`max-w-200 text-${alignment} text-base lg:text-xl`}>
        {typeof text === 'object' &&
          text.map((paragraph) => (
            <div class={classNames('mb-4', textColor[color])}>
              <MarkdownText
                text={paragraph}
                className={className}
                linkClassName={linkClassName}
              />
            </div>
          ))}
      </div>
    )
  }
</div>
