---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  button: { label: string; link: string }
  cards: { heading: string; readingTime: string; image: string }[]
}

const { heading, text, color, button, cards } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-secondary-gray'
---

<section class={sectionMarginBottom}>
  <div class="flex">
    <div class="mr-16 flex w-1/2 flex-col gap-16">
      {
        cards.map((card) => (
          <div class="flex">
            <img src={card.image} alt={card.heading} class="mr-6" width="184" />
            <div>
              <div class="text-secondary-gray mb-4 text-xl font-bold">
                {card.heading}
              </div>
              <div class="text-tertiary-black5">
                {card.readingTime} min read
              </div>
            </div>
          </div>
        ))
      }
    </div>
    <div class="w-1/2">
      <div class={classNames('mb-4 text-5xl font-semibold', headingColor)}>
        {heading}
      </div>
      <div
        class={classNames(
          'mb-8 text-xl',
          color ? textColor[color] : 'text-tertiary-black'
        )}
      >
        <MarkdownText text={text} />
      </div>
      <Button {...button} />
    </div>
  </div>
</section>
