---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  button: { label: string; link: string }
  cards: string[]
}

const { heading, text, color, button, cards } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-primary-white'
---

<section class={classNames('flex h-[497px] items-center', sectionMarginBottom)}>
  <div class="mr-16 w-1/2">
    <div class={classNames('mb-4 text-5xl font-semibold', headingColor)}>
      {heading}
    </div>
    <div
      class={classNames(
        'mb-8 text-xl',
        color ? textColor[color] : 'text-tertiary-black'
      )}
    >
      <MarkdownText text={text} />
    </div>
    <Button {...button} />
  </div>
  <div class="relative h-full w-1/2">
    {
      cards.map((card, index) => (
        <div
          class={classNames(
            'text-secondary-gray absolute flex h-[145.3px] w-[145.3px] items-center justify-center rounded-xl bg-[#d9d9d9] bg-opacity-10 text-lg font-bold',
            `card-${index + 1}`
          )}
        >
          {card}
        </div>
      ))
    }
  </div>
</section>

<style>
  .card-1 {
    top: 0;
    left: 172.97px;
  }

  .card-2 {
    top: 14.99px;
    left: 341.33px;
  }

  .card-3 {
    top: 101.48px;
    left: 0;
  }

  .card-4 {
    top: 176.43px;
    left: 191.42px;
  }

  .card-5 {
    top: 204.11px;
    left: 366.7px;
  }

  .card-6 {
    top: 273.3px;
    left: 18.45px;
  }

  .card-7 {
    top: 351.71px;
    left: 191.42px;
  }
</style>
