---
import { sectionMarginBottom } from '../../../../utils/classNames'

import CardSmall from '../../CardSmall.astro'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  color: string
  cards: { heading: string; icon: string; link: string }[]
}

const { heading, color, cards } = Astro.props
---

<section class={sectionMarginBottom}>
  <SectionHeader heading={heading} color={color} />
  <div class="flex gap-6">
    {cards.map((card) => <CardSmall {...card} />)}
  </div>
</section>
