---
import { MarkdownText } from '../MarkdownText'

export interface Props {
  footnotes: string[]
}

const { footnotes } = Astro.props
---

{
  footnotes.map((line) => (
    <div class="text-tertiary-black3 text-center text-sm md:text-base">
      <MarkdownText text={line} className="text-white" />
    </div>
  ))
}
