---
import classNames from 'classnames'

export interface Props {
  name: string
  image: string
  canShrink?: boolean
  classes?: string
}

const { name, image, canShrink = false, classes } = Astro.props
---

<div
  class={classNames(
    'flex h-12 w-[100px] items-center justify-center rounded-lg px-3 py-2 md:h-18 md:w-[155px] md:rounded-xl md:px-[13px] md:pt-[18px] md:pb-[19px]',
    canShrink ? 'shrink-1' : 'shrink-0',
    classes
  )}
>
  <img src={image} alt={name} />
</div>

<style>
  div {
    background-image: radial-gradient(
      146.21% 314.9% at 50% 0%,
      rgba(26, 115, 248, 0.24) 0%,
      rgba(0, 61, 152, 0.08) 45.83%,
      rgba(177, 208, 255, 0.4) 100%
    );
    backdrop-filter: blur(22.5px);
    border: 1px solid;
    border-image: linear-gradient(
      155.84deg,
      rgba(94, 158, 255, 0.6) -56.54%,
      rgba(94, 158, 255, 0) 100%
    );
  }
</style>
