---
import Footer from '../components/Footer.astro'
import Header from '../components/header/Header'

export interface Props {
  title: string
  description: string
  background?: string
}

const { title, description, background } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body class={'bg-cover bg-no-repeat ' + background}>
    <div class="container mx-auto">
      <Header client:load />
    </div>
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    font-family: 'Inter', sans-serif;
    background-color: #000;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .button-emerald {
    color: #7ce3cb;
  }
  .button-emerald:hover {
    color: #bdf1e5;
  }
  .button-emerald:active {
    color: #9dead8;
  }
  .button-blue {
    color: #5378ff;
  }
  .button-blue:hover {
    color: #718fff;
  }
  .button-blue:active {
    color: #194aff;
  }
  .button-purple {
    color: #8256ff;
  }
  .button-purple:hover {
    color: #aa8cff;
  }
  .button-purple:active {
    color: #642eff;
  }

  .text-gradient-emerald {
    background-image: linear-gradient(
      118.78deg,
      #f3f3f3 11.21%,
      #4bc79a 116.62%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .text-gradient-purple {
    background-image: linear-gradient(
      100.58deg,
      #f3f3f3 26.46%,
      #5923f4 102.01%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .text-gradient-blue {
    background-image: linear-gradient(99.22deg, #ffffff 23.15%, #5278ff 92.36%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .text-gradient-green {
    background-image: linear-gradient(
      118.78deg,
      #7ce3cb 11.21%,
      #266d54 116.62%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .text-gradient-yellow {
    background-image: linear-gradient(
      118.78deg,
      #f3f1f6 11.21%,
      #c1de34 116.62%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }

  .text-white-gradient-override {
    background-image: none;
    -webkit-text-fill-color: #fff;
    color: #fff;
  }

  .background-gradient-emerald {
    background: radial-gradient(
      208.44% 148.88% at 50% 0%,
      rgba(26, 248, 232, 0.25) 0%,
      rgba(0, 0, 0, 0) 45.83%,
      rgba(245, 245, 245, 0.15) 100%
    ),
    #040606;

    border-image-source: linear-gradient(
      156.15deg,
      rgba(94, 255, 215, 0.4) -25.46%,
      rgba(94, 255, 215, 0) 79%
    );
  }

  .border-mask-gradient-emerald {
    position: relative;
  }

  .border-mask-gradient-emerald::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: linear-gradient(156.15deg, rgba(94, 255, 215, 0.4) -25.46%, rgba(94, 255, 215, 0) 79%);
  }

  .background-gradient-blue {
    background: radial-gradient(
      208.44% 148.88% at 50% 0%,
      rgba(82, 120, 255, 0.4) 0%,
      rgba(0, 0, 0, 0) 45.83%,
      rgba(245, 245, 245, 0.24) 100%
    ),
    #020202;

    border-image: linear-gradient(
      156.15deg,
      rgba(82, 120, 255, 0.8) -25.46%,
      rgba(82, 120, 255, 0) 79%
    );
  }

  .border-mask-gradient-blue {
    position: relative;
  }

  .border-mask-gradient-blue::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; 
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: linear-gradient(
      156.15deg,
      rgba(82, 120, 255, 0.8) -25.46%,
      rgba(82, 120, 255, 0) 79%
    );
  }

  .background-gradient-purple {
    background: radial-gradient(
      208.44% 148.88% at 50% 0%,
      rgba(89, 35, 244, 0.4) 0%,
      rgba(0, 0, 0, 0) 45.83%,
      rgba(245, 245, 245, 0.24) 100%
    ),
    #010101;

    border-image: linear-gradient(
      156.15deg,
      rgba(89, 35, 244, 0.8) -25.46%,
      rgba(89, 35, 244, 0) 79%
    );
  }

  .border-mask-gradient-purple {
    position: relative;
  }

  .border-mask-gradient-purple::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px; 
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: linear-gradient(
      156.15deg,
      rgba(89, 35, 244, 0.8) -25.46%,
      rgba(89, 35, 244, 0) 79%
    );
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .line-size {
    inline-size: 650px;
  }

  @media (min-width: 375px) {
    .line-size {
      inline-size: 370px;
    }
  }
  @media (min-width: 724px) {
    .line-size {
      inline-size: 550px;
    }
  }
  @media (min-width: 1088px) {
    .line-size {
      inline-size: 650px;
    }
  }

  input[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #2497e3;
    height: 4px;
    width: 92px;
    border-radius: 50px;
    background: #7ce3cb;
    cursor: pointer;
    -webkit-appearance: none;
    opacity: 100;
  }
  /* .line-siz */
</style>
