---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string
  color: string
  cards: { heading: string; number: string }[]
  button: { label: string; link: string }
}

const { heading, text, color, cards, button } = Astro.props
---

<section class={classNames('text-center', sectionMarginBottom)}>
  <SectionHeader heading={heading} text={text} color={color} />
  <div
    class="mb-[69px] flex flex-col items-center justify-center gap-10 md:mb-20 md:flex-row"
  >
    {
      cards.map((card) => (
        <div class="w-full text-center md:w-1/2">
          <div class="text-gradient-green md:text-5.5xl mb-4 text-[46px] font-semibold lg:text-[80px]">
            {card.number}
          </div>
          <div class="text-primary-white lg:text-1xl text-lg font-bold md:text-xl">
            {card.heading}
          </div>
        </div>
      ))
    }
  </div>
  <Button {...button} />
</section>
