---
import classNames from 'classnames'
import { textColor } from '../../../../utils/classNames'

import Link from '../../elements/Link'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  features: {
    heading: string
    text: string | string[]
    color?: string
    button?: {
      label: string
      link: string
    }
    image: string
  }[]
}

const { features } = Astro.props
---

{
  features.map((feature, index) => {
    const headingColor = feature.color
      ? `text-gradient-${feature.color}`
      : 'text-secondary-gray'

    return (
      <div
        class={classNames(
          'gap-34 mb-40 flex items-center',
          index % 2 === 0 ? 'justify-end' : 'justify-start'
        )}
      >
        {index % 2 === 0 && (
          <img class="w-1/2" src={feature.image} alt={feature.heading} />
        )}
        <div class="w-1/2">
          <div class={classNames('mb-4 text-5xl font-semibold', headingColor)}>
            {feature.heading}
          </div>
          <div class="mb-8">
            {typeof feature.text === 'string' ? (
              <div
                class={classNames(
                  'text-xl',
                  feature.color
                    ? textColor[feature.color]
                    : 'text-tertiary-black'
                )}
              >
                <MarkdownText text={feature.text} />
              </div>
            ) : (
              feature.text.map((paragraph) => (
                <div
                  class={classNames(
                    'mb-4 text-xl',
                    feature.color
                      ? textColor[feature.color]
                      : 'text-tertiary-black'
                  )}
                >
                  <MarkdownText text={paragraph} />
                </div>
              ))
            )}
          </div>
          <Link {...feature.button} color="emerald" />
        </div>
        {index % 2 === 1 && (
          <img class="w-1/2" src={feature.image} alt={feature.heading} />
        )}
      </div>
    )
  })
}
