---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  button: { label: string; link: string }
  image: string
}

const { heading, text, color, button, image } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-primary-white'
---

<section
  class={classNames(
    'flex items-center justify-between pt-[133px]',
    sectionMarginBottom
  )}
>
  <div class="flex w-1/2 flex-col">
    <h1 class={classNames('pb-6 text-7xl font-semibold', headingColor)}>
      {heading}
    </h1>
    <div class="pb-12 text-1xl text-tertiary-black">
      <MarkdownText text={text} />
    </div>
    <Button {...button} />
  </div>
  <img class="" src={image} alt={heading} />
</section>
