---
import classNames from 'classnames'
import { textColor } from '../../../../utils/classNames'

import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string
  color: string
  platforms: { name: string; text: string; icon: string; link: string }[]
}

const { heading, text, color, platforms } = Astro.props
---

<SectionHeader heading={heading} text={text} color={color} />
<section class="mb-40 flex md:mb-46 lg:mb-75">
  {
    platforms.map((platform) => (
      <a
        href={platform.link}
        class="border-white-rgba bg-gray-rgba flex w-full flex-col items-center rounded-2xl py-12 md:w-1/2"
      >
        <img class="mb-8" src={platform.icon} alt={platform.name} />
        <div class="text-3.5xl text-primary-white text-center font-bold">
          {platform.name}
        </div>
        <div class={classNames('text-center text-xl', textColor[color])}>
          {platform.text}
        </div>
      </a>
    ))
  }
</section>
