---
import classNames from 'classnames'
import Button from '../../elements/Button.astro'
import SearchBar from './SearchBar'

export interface Props {
  heading: string
  color: string
  button: { label: string; link: string }
  searchPlaceholder: string
  apis: {
    image: string
    heading: string
    description: string
    button: { label: string; link: string }
  }[]
}

const { heading, color, searchPlaceholder, button, apis } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-primary-white'
---

<section
  class="flex flex-col items-center pt-[80px] md:pt-[220px] lg:pt-[133px]"
>
  <h1
    class={classNames(
      'line-size w-[345px] text-center text-4.5xl font-semibold leading-[44px] tracking-[-1.5px] md:w-[535px] md:text-5.5xl md:leading-[61.6px] md:tracking-[-1.5px] lg:w-[831px] lg:text-7xl lg:leading-[70.4px] lg:tracking-normal',
      headingColor
    )}
  >
    {heading}
  </h1>
  <div
    class="mt-12 flex w-full flex-col items-center justify-between gap-0 md:mt-16 md:w-[639px] md:flex-row md:gap-6 lg:mt-12"
  >
    <SearchBar searchPlaceholder={searchPlaceholder} apis={apis} client:load />
    <Button {...button} />
  </div>
</section>
