---
import classNames from 'classnames'
import { textColor } from '../../../../utils/classNames'

import { MarkdownText } from '../../MarkdownText'
import Link from '../../elements/Link'

export interface Props {
  heading: string
  color: string
  text: string[]
  image: string
  button: { label: string; link: string }
}

const { heading, color, text, image, button } = Astro.props

const headingColor = `text-gradient-${color}`
---

<div
  class="mb-30 mt-24 flex flex-col-reverse items-center self-center md:mb-48 md:mt-[200px] md:w-[680px] md:flex-row lg:mb-75 lg:mt-75 lg:w-[1088px]"
>
  <div class="mr-0 w-full md:mr-10 md:w-1/2 lg:mr-16">
    <div
      class={classNames(
        'text-4xl font-semibold leading-[46.8px] tracking-[-1.5px] md:text-5xl md:leading-[52.8px] lg:text-5.5xl w-fit',
        headingColor
      )}
    >
      {heading}
    </div>
    {
      text.map((paragraph) => (
        <div
          class={classNames(
            'mt-4 mb-8 text-[20px] text-lg font-normal leading-[25.2px] md:text-xl md:leading-[30px]',
            textColor[color]
          )}
        >
          <MarkdownText text={paragraph} />
        </div>
      ))
    }
    <Link {...button} />
  </div>
  <img
    class="mb-10 md:mb-0 md:h-[324px] md:w-[324p] lg:h-auto lg:w-auto"
    src={image}
    alt={heading}
  />
</div>
