---
import classNames from 'classnames'
import { textColor, sectionMarginBottom } from '../../../../utils/classNames'

import Link from '../../elements/Link'
import { MarkdownText } from '../../MarkdownText'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  text: string
  image: string
  color: string
  features: {
    heading: string
    text: string | string[]
    button?: {
      label: string
      link: string
    }
    image: string
  }[]
}

const { heading, text, image, color, features } = Astro.props

const headingColor = `text-gradient-${color}`
---

<section class={sectionMarginBottom}>
  <SectionHeader heading={heading} text={text} color={color} />
  <div class={classNames('w-full', sectionMarginBottom)}>
    <img src={image} alt={heading} />
  </div>

  <script>
    const resizeHandler = () => {
      const isMobile = window.innerWidth < 768
      const featureCards = document.querySelectorAll('.feature-card')

      featureCards.forEach((card, index) => {
        const img = card.querySelector('img')
        if (index % 2 === 0 || isMobile) {
          card.prepend(img)
        } else {
          card.append(img)
        }
      })
    }

    window.addEventListener('resize', resizeHandler)
    document.addEventListener('DOMContentLoaded', resizeHandler)

    window.addEventListener('unload', () => {
      window.removeEventListener('resize', resizeHandler)
      document.removeEventListener('DOMContentLoaded', resizeHandler)
    })
  </script>

  {
    features.map((feature, index) => (
      <div
        class={classNames(
          'gap-34 feature-card mb-20 flex flex-col items-center md:flex-row lg:mb-40',
          index % 2 === 0 ? 'justify-end' : 'justify-start'
        )}
      >
        <img
          class="w-full md:w-1/2"
          src={feature.image}
          alt={feature.heading}
        />
        <div class="w-full md:w-1/2">
          <div
            class={classNames(
              'text-1xl md:text-3.5xl mb-3 pb-1 font-semibold lg:text-5xl',
              headingColor
            )}
          >
            {feature.heading}
          </div>
          <div class="mb-8">
            {typeof feature.text === 'string' ? (
              <div class={classNames('text-base lg:text-xl', textColor[color])}>
                <MarkdownText text={feature.text} />
              </div>
            ) : (
              feature.text.map((paragraph) => (
                <div
                  class={classNames(
                    'mb-4 text-base lg:text-xl',
                    textColor[color]
                  )}
                >
                  <MarkdownText text={paragraph} />
                </div>
              ))
            )}
          </div>
          <Link {...feature.button} color="emerald" />
        </div>
      </div>
    ))
  }
</section>
