---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color?: string
  button: { label: string; link: string }
  image: string
}

const { heading, text, color, button, image } = Astro.props

const headingColor = color ? `text-gradient-${color}` : 'text-primary-white'
---

<section
  class={classNames(
    'flex items-center justify-between pt-[133px] flex-col-reverse lg:flex-row',
    sectionMarginBottom
  )}
>
  <div
    class="flex w-full flex-col items-center text-center lg:w-1/2 lg:items-start lg:text-left"
  >
    <h1
      class={classNames(
        'pb-6 lg:text-7xl font-semibold w-fit text-4.5xl md:text-14',
        headingColor
      )}
    >
      {heading}
    </h1>
    <div class="pb-12 text-xl text-tertiary-black md:text-1xl">
      <MarkdownText text={text} />
    </div>
    <Button {...button} />
  </div>
  <img class="mb-12 md:mb-16 lg:mb-0" src={image} alt={heading} />
</section>
