---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import Button from '../../elements/Button.astro'
import SectionHeader from '../../SectionHeader.astro'

export interface Props {
  heading: string
  color: string
  button: {
    label: string
    link: string
  }
  video: string
}

const { heading, button, video, color } = Astro.props
---

<section class={classNames('flex flex-col items-center', sectionMarginBottom)}>
  <SectionHeader heading={heading} color={color} />
  <Button {...button} />
  <iframe class="mt-25" width="728" height="413" src={video}> </iframe>
</section>
