---
import classNames from 'classnames'
import { sectionMarginBottom } from '../../../../utils/classNames'

import SectionHeader from '../../SectionHeader.astro'
import Button from '../../elements/Button.astro'
import Footnotes from '../../elements/Footnotes.astro'
import { MarkdownText } from '../../MarkdownText'

export interface Props {
  heading: string
  text: string
  color: string
  note: string
  buttons: { label: string; link: string; isSecondary?: boolean }[]
  footnotes: string[]
}

const { heading, text, note, buttons, footnotes, color } = Astro.props
---

<section class={classNames('flex flex-col items-center', sectionMarginBottom)}>
  <SectionHeader
    heading={heading}
    text={text}
    color={color}
    className="text-white"
    hasSmallMargin
  />
  <div class="mb-12 text-tertiary-black3">
    <MarkdownText text={note} />
  </div>
  <div class="mx-auto mb-20 flex max-w-[497px] flex-col items-stretch">
    <div class="flex justify-center gap-6">
      {buttons.map((button) => <Button {...button} />)}
    </div>
    <Footnotes footnotes={footnotes} />
  </div>
</section>
